$color-accent: #9b320c
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #F2F2F2
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

$body-font-family: "Atkinson", serif
$heading-font-family: $body-font-family
$h1-weight: normal
$h3-weight: normal
$lead-hero-line-height: 160%
$lead-hero-line-height-desktop: $lead-hero-line-height

$header-background: transparent
$header-logo-height: 32px
$header-logo-height-desktop: 50px
$header-border-bottom-width: 0
$footer-background-color: transparent
$footer-logo-height: 32px
$footer-logo-height-desktop: 50px
$hero-background-color: transparent
